.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

p {
  color: #333;
}

body {
  font-family: Lato;
}

h1 {
  font-family: Raleway;
}
.inner {
  margin: 0 auto;
  width: 1100px;
}

/* ここからheader */

.header {
  background-color: #fff;
  padding: 15px auto;
  position: fixed;
  top: 0px; /* 位置(上0px) */
  left: 0px; /* 位置(右0px) */
  width: 100%; /* 横幅100%　*/
}
.header-inner {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header_icon i {
  color: #4e4e4e;
  margin-left: 200px;
}

.contact {
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  margin-right: 100px;
  padding: 14px 12px;
  cursor: pointer;
}

.contact:hover {
  color: #333;
  transition: all 0.5s;
}

/* ここまでheader */
/* ここからtheme */

.background {
  min-width: 1100px;
}

.theme {
  background-color: #f2f2f2;
  min-width: 1100px;
}

.theme-inner {
  padding-top: 90px;
  padding-bottom: 250px;
}
.theme_head {
  color: #74cfae;
  font-weight: 700;
  font-size: 90px;
  padding-bottom: 20px;
  padding-top: 250px;
  text-align: center;
}

.theme_text {
  color: #c0c0c0;
  font-size: 30px;
  text-align: center;
}

/* ここまでtheme */
/* ここからable_to */

.able_to {
  background-color: #74cfae;
  min-width: 1100px;
}

.able_to-inner {
  padding-top: 50px;
  height: 295px;
}

.pic_iphone {
  float: left;
}

.able_to_head {
  color: #fff;
  font-size: 24px;
  margin-left: 20%;
  margin-bottom: 35px;
  text-align: center;
}

.able_to_text {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  margin-left: 30%;
  text-align: center;
  width: 60%;
}

/* ここまでable_to */
/* ここからOUR latest WORK HEAD */

.latest_head {
  background-color: #f2f2f2;
  min-width: 1100px;
}

.latest_head-inner {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}

.latest_head {
  color: #333;
  font-size: 24px;
}
/* ここまでOUR latest WORK HEAD */
/* ここからOUR latest WORK IMG */

.flex_img {
  background-color: #f2f2f2;
  min-width: 1100px;
}

.six_image {
  float: left;
  opacity: 0.7;
}

.six_image:hover {
  opacity: 1;
  transition: all 0.3s;
}

.flex_img_inner > a:nth-child(3n + 3) {
  margin-left: 100px;
  margin-right: 100px;
}

.flex_img_inner a {
  margin-bottom: 80px;
}
.flex_img_inner > a:latest-child {
  margin-bottom: 0;
}
.flex_img_inner > a:nth-latest-child(2) {
  margin-bottom: 0;
}
.flex_img_inner > a:nth-latest-child(3) {
  margin-bottom: 0;
}

/* ここまでOUR latest WORK IMG */
/* ここからOUR latest WORK TEXT */

.latest_work_text {
  background-color: #f2f2f2;
  min-width: 1100px;
  text-align: center;
}

.latest_text_inner {
  padding-top: 90px;
  padding-bottom: 70px;
}

.latest_text {
  color: #333;
  font-size: 24px;
  float: left;
  width: 63%;
  margin-left: 40px;
}

.email {
  background-color: #74cfae;
  color: #fff;
  float: left;
  font-size: 12px;
  padding: 14px 20px;
  cursor: pointer;
  margin-left: 90px;
}

.email:hover {
  color: #333;
  transition: all 0.5s;
}

/* ここまでOUR latest WORK TEXT */
/* ここからskill head */

.skill_head {
  background-color: #4e4e4e;
  min-width: 1100px;
}

.skill_head_inner {
  padding-top: 70px;
  padding-bottom: 70px;
}

.skill_head_text {
  color: #fff;
  font-size: 24px;
  padding-bottom: 35px;
  text-align: center;
}

/* ここまでskill head */
/* ここからskill */

.skill {
  background-color: #4e4e4e;
  min-width: 1100px;
}

.skill_inner {
  padding-bottom: 100px;
  text-align: center;
}

.skill_detail {
  font-size: 16px;
  color: #fff;
}

.skill_inner > div {
  display: inline-block;
}

.skill_inner > div {
  margin-left: 180px;
}

.skill_inner > div:first-child {
  margin-left: 0;
}

/* ここまでskill */
/* ここからsns */

.sns {
  background-color: #f2f2f2;
  min-width: 1100px;
}

.sns_inner {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.sns_icon i {
  color: #74cfae;
  width: 185px;
  transition: all 0.3s;
  padding: 25px 0;
}

.sns_icon i:hover {
  background-color: #fff;
}

/* ここまでsns */
/* ここからfooter */

.footer {
  background-color: #74cfae;
  min-width: 1100px;
}

.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
}

.copyright {
  color: #fff;
}

/* ここまでfooter */
