.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

p {
  color: #333;
}

body {
  font-family: Lato;
}

@media screen and (min-width: 1200px) {
  .inner {
    margin: 0 auto;
    width: 1100px;
  }
}

@media screen and (max-width: 1199px) {
  .inner {
    margin: 0 auto;
    width: 97%;
  }
}

/* ここからheader */

.header {
  background-color: #fff;
  position: fixed;
  top: 0px;
  /* 位置(上0px) */
  left: 0px;
  /* 位置(右0px) */
  width: 100%;
  /* 横幅100%　*/
}

.header-inner {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header_icon {
  float: left;
}

.header_icon i {
  color: #4e4e4e;
}

.sp_menu {
  position: absolute;
  right: -100%;
  cursor: pointer;
}

.contact {
  float: right;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;

}

@media screen and (min-width: 768px) {
  .contact {
  }
}

@media screen and (max-width: 767px) {
  .contact {
  }

  .sp_menu {
  }
}
.sp_menu i {
  color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .contact {
  }
}

.contact:hover {
  color: #333;
}

/* ここまでheader */

/* ここからtheme */

.theme {
  background-color: #f2f2f2;
  padding-top: 80px;
}

.theme-inner {
  padding-top: 250px;
  padding-bottom: 250px;
}

.theme_head {
  color: #74cfae;
  font-weight: 700;
  font-size: 90px;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .theme_head {
    padding-top: 160px;
    font-size: 80px;
  }
}

.theme_text {
  color: #c0c0c0;
  font-size: 30px;
  text-align: center;
}

/* ここまでtheme */

/* ここからable_to */

.able_to {
  background-color: #74cfae;
}

@media screen and (max-width: 1199px) {
  .able_to {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .able_to-inner {
    display: table;
    padding-top: 50px;
    height: 295px;
  }
}

@media screen and (max-width: 1199px) {
  .able_to-inner {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .pic_iphone {
    display: table-cell;
  }
  .able_text_wrap {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .pic_iphone {
    margin-bottom: 20px;
  }
}

.able_to_head {
  color: #fff;
  font-size: 24px;
  margin-bottom: 35px;
}
@media screen and (min-width: 1200px) {
  .able_to_head {
    text-align: center;
  }
}

.able_to_text {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
}
@media screen and (min-width: 1200px) {
  .able_to_text {
    text-align: center;
  }
}

/* ここまでable_to */

/* ここからOUR latest WORK HEAD */
.latest_head {
  background-color: #f2f2f2;
}

.latest_head-inner {
  padding-top: 60px;
  padding-bottom: 40px;
}

.latest_work_text {
  font-size: 24px;
}

.latest_head {
  text-align: center;
}
.latest_head_text {
  color: #333;
  font-size: 24px;
}
/* ここまでOUR latest WORK HEAD */
/* ここからOUR latest WORK IMG */

.article {
  background-color: #f2f2f2;
}

@media screen and (max-width: 1199px) {
  .latest_head {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .latest_head {
    text-align: center;
  }
}
.six_image {
  opacity: 0.7;
  transition: all 0.3s;
  width:300px;
}

@media screen and (min-width: 1200px) {
  .six_image {
    float: left;
  }
}
@media screen and (max-width: 1199px) {
  .six_image {
    display: block;
  }
  .six_image img {
    vertical-align: bottom;
  }
}

.six_image:hover {
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .flex_img_inner a {
    margin-left: 100px;
    }
  .flex_img_inner a:nth-child(3n+1){
    margin-left:0;
  }

  .flex_img_inner a {
    margin-bottom: 80px;
  }
  .flex_img_inner > a:nth-last-of-type(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1199px) {
  .flex_img_inner > a:nth-child(3n) {
    margin-bottom: 80px;
  }
  .flex_img_inner > a:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1199px) {
  .flex_img_inner {
    text-align: center;
  }
}

/* ここまでOUR latest WORK IMG */
/* ここからOUR latest WORK TEXT */


.latest_text_inner {
  padding-top: 80px;
  padding-bottom: 70px;
  text-align: center;
}

.latest_text {
  color: #333;
  font-size: 24px;
}
@media screen and (min-width: 1200px) {
  .latest_text {
    width: 63%;
    float: left;
    margin-left: 40px;
  }
}
.email {
  float:left;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 90px;
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .email {
    display: inline-block;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .latest_text {
    float: left;
    margin-left: 40px;
  }
}

.email:hover {
  color: #333;
}

/* ここまでOUR latest WORK TEXT */
/* ここからskill head */

.skill {
  background-color: #4e4e4e;
}

.skill_head_inner {
  padding-top: 70px;
  padding-bottom: 70px;
}

.skill_head_text {
  color: #fff;
  font-size: 24px;
  padding-bottom: 35px;
  text-align: center;
}

/* ここまでskill head */
/* ここからskill */

.skill {
  background-color: #4e4e4e;
}

.skill_inner {
  padding-bottom: 100px;
  text-align: center;
}

.skill_detail {
  font-size: 16px;
  color: #fff;
}
@media screen and (max-width: 1199px) {
  .skill_image {
    margin-bottom: 88px;
  }
  .skill_image:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .skill_image {
    display: inline-block;
    margin-left: 180px;
  }
}

.skill_inner > div:first-child {
  margin-left: 0;
}

/* ここまでskill */
/* ここからsns */

.sns {
  background-color: #f2f2f2;
}

.sns_inner {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .sns_inner {
    padding-top: 0;
  }
}
.sns_icon {
  text-decoration: none;
  display:inline-block;
  transition: all 0.3s;  
}

    .sns_icon:hover {
      background-color: #fff;
    }
.sns_icon i {
  color: #74cfae;
  width: 185px;
  transition: all 0.3s;
  padding: 25px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .sns_icon i {
    padding-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}


/* ここまでsns */
/* ここからfooter */

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
}

.copyright {
  color: #fff;
}

/* ここまでfooter */
